<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="classes" >
    <test name="default">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.hellofresh.challenge.auth.SignUpTest"></class>
            <class name="com.hellofresh.challenge.auth.LoginTest"></class>
            <class name="com.hellofresh.challenge.checkout.CheckoutTest"></class>
        </classes>
    </test>
</suite>